.password__change {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* margin-top: 150px; */
}
.password__one{
  margin-top: 20px;
  margin-bottom: 20px;
}
.password__first{
  margin-bottom: 20px;
}
.password__text{
  font-size: 10px;
}